<%- include('templates/header.ejs') %>

    <main>


        <div class="publish">
            <input id="search" onkeypress="search(event)" type="search" name="search" placeholder="Search">
        </div>




        <% for(var i=0; i<posts.length; i++) { %>

            <!--Publicaci칩n-->
            <div class="content_publish">

                <div class="user_profile">
                    <img id="img_avatar" src="data:image/png;base64,<%= posts[i].img %>" alt="Imagen de usuario">
                    <p id="user">
                        <%= posts[i].username %>
                    </p>
                </div>


                <figure>
                    <img id="img_user" src="data:image/png;base64,<%= posts[i].post.img %>" alt="Imagen de publicaci칩n">
                </figure>



                <div class="like_and_coment">
                    <i class="fa-solid fa-heart"></i>
                    <span id="number1"><%= posts[i].post.likes.length %></span>

                    <link rel="coment">
                    <i class="fa-solid fa-comment"></i>
                    <span id="number2"><%= posts[i].post.comments.length %></span>
                </div>

                <div class="publish_text">
                    <p>Les gusta a Maria y 3 personas <a href="#">M치s</a> </p>
                </div>

                <div class="publish_text_more_like">
                    <p>Comentarios con mas like</p>
                </div>

                <div class="publish_text_all_comments">
                    <a href="#">Mostrar los dem치s comentarios</a>
                </div>

                <div class="time_publish">
                    <p>
                        <%= posts[i].ago %>
                    </p>
                </div>
            </div>
            <% } %>




    </main>

    <%- include('templates/footer.ejs') %>

        <script>
            function search(e) {
                if (e.keyCode == 13) {
                    const query = document.getElementById("search").value;
                    window.location.href = "/main/search/" + query;
                }
            }
        </script>