<%- include('templates/header.ejs') %>

    <main>


        <div class="publish">
            <input id="search" onkeypress="search(event)" type="search" name="search" placeholder="Search">
        </div>




        <% for(var i=0; i<posts.length; i++) { %>

            <!--Publicación-->
            <div class="content_publish">

                <div class="user_profile">
                    <img id="img_avatar" src="data:image/png;base64,<%= posts[i].img %>" alt="Imagen de usuario">
                    <p id="user">
                        <%= posts[i].username %>
                    </p>
                </div>


                <figure>
                    <img id="img_user" src="data:image/png;base64,<%= posts[i].post.img %>" alt="Imagen de publicación">
                </figure>



                <div class="like_and_coment">
                    <% if (posts[i].post.likes.includes(_id) ) { %>
                        <i class="fa-solid fa-heart red" id="<%= posts[i].post._id %>" onclick="like(event)"></i>
                        <% }else{ %>
                            <i class="fa-solid fa-heart" id="<%= posts[i].post._id %>" onclick="like(event)"></i>
                            <% } %>
                                

                                <link rel="coment">
                                <i class="fa-solid fa-comment"></i>
                                <span id="number2"><%= posts[i].post.comments.length %></span>
                </div>

                <div class="publish_text">
                    <p>Le ha gustado <span id="l<%= posts[i].post._id %>"><%= posts[i].post.likes.length %></span> personas</p>
                </div>

                <div class="publish_text_more_like">
                    <p>Comentarios con mas like</p>
                </div>

                <div class="publish_text_all_comments">
                    <a href="#">Mostrar los demás comentarios</a>
                </div>

                <div class="time_publish">
                    <p>
                        <%= posts[i].ago %>
                    </p>
                </div>
            </div>
            <% } %>




    </main>

    <%- include('templates/footer.ejs') %>

        <script>
            function search(e) {
                if (e.keyCode == 13) {
                    const query = document.getElementById("search").value;
                    window.location.href = "/main/search/" + query;
                }
            }

            function like(e) {
                const _id = e.target.id;
                if (e.target.classList.contains('red')) {
                    fetch('/main/unlike/' + _id).then(() => {
                        document.getElementById('l' + _id).innerHTML = Number(document.getElementById('l' + _id).innerHTML) - 1;
                        e.target.classList.remove('red');
                    });
                } else {
                    fetch('/main/like/' + _id).then(() => {
                        document.getElementById('l' + _id).innerHTML = Number(document.getElementById('l' + _id).innerHTML) + 1;
                        e.target.classList.add('red');
                    });
                }
            }
        </script>